
@page "/Log_in" 
    <div class="w-users-userformpagewrap full-page-wrapper">
      <a href="/" class="form-page-logo-link w-inline-block"
        ><img
          src="images/memberbase-20white-20logo.svg"
          loading="lazy"
          alt="Memberbase Logo"
          class="form-page-logo"
      /></a>
      <div class="w-users-userloginformwrapper admin-form-card">
        <form
          data-wf-user-form-type="login"
          data-wf-user-form-redirect="/resources"
          method="post"
        >
          <div class="w-users-userformheader form-card-header">
            <h2 class="heading h3">Log in</h2>
            <p class="paragraph small">Fill in your log in details below.</p>
          </div>
          <input
            type="email"
            maxlength="256"
            placeholder="Your email"
            name="Email"
            id="wf-log-in-email"
            class="text-field w-input"
            required=""
            data-wf-user-form-input-type="email"
          /><input
            type="password"
            maxlength="256"
            placeholder="Your password"
            name="Password"
            id="wf-log-in-password"
            class="text-field w-input"
            required=""
            data-wf-user-form-input-type="password"
          /><input
            type="submit"
            value="Log In"
            data-wait="Please wait..."
            class="w-users-userformbutton button w-button"
          />
          <div class="w-users-userformfooter form-card-footer">
            <span>Don&#x27;t have an account?</span
            ><a href="/sign-up">Sign Up</a>
          </div>
        </form>
        <div
          style="display: none"
          data-wf-user-form-error="true"
          class="w-users-userformerrorstate form-error w-form-fail"
        >
          <div
            class="user-form-error-msg"
            wf-login-form-general-error-error="We&#x27;re having trouble logging you in. Please try again, or contact us if you continue to have problems."
            wf-login-form-invalid-email_or_password-error="Invalid email or password. Please try again."
          >
            We&#x27;re having trouble logging you in. Please try again, or
            contact us if you continue to have problems.
          </div>
        </div>
      </div>
      <a href="/reset-password" class="below-card-link"
        >Forgot your password?</a
      >
    </div>
    <script
      src="js/jquery.js?site=62aee78456e4207786ac4d18"
      type="text/javascript"
    ></script>
    <script src="js/webflow-script.js" type="text/javascript"></script>
    <!--[if lte IE 9
      ]><script src="//cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script
    ><![endif]-->

